<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hellyuestc.caiyuan.dao.QuestionDao"> 

	<select id="selectCountById" resultType="int">
		select count(*) from question where id=#{id}
	</select>

	<insert id="insertQuestion">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
            select last_insert_id() as id
        </selectKey>
		insert into question(user_id, user_name, topic_id, topic_name, title, content, gmt_create, gmt_modified)
		values(#{userId}, #{userName}, #{topicId}, #{topicName}, #{title}, #{content}, NOW(), NOW());
	</insert>
	
	<insert id="insertQuestionImageUrl">
		insert into question_image(question_id, image_url) values(#{questionId}, #{imageUrl})
	</insert>

	<select id="listNewQuestionByGmtModified" resultType="Question">
		select id, user_id, user_name, topic_id, topic_name, title, content, scan_count, answer_count, gmt_create, gmt_modified
		from question
		where gmt_modified > #{time}
		limit #{count}
	</select>
	
	<select id="listNextQuestionByGmtModified" resultType="Question">
		select id, user_id, user_name, topic_id, topic_name, title, content, scan_count, answer_count, gmt_create, gmt_modified
		from question
		where gmt_modified &lt;= #{time}
		order by gmt_modified desc
		limit #{count}
	</select>
	
	<select id="listNewQuestionByGmtModifiedAndId" resultType="Question">
		select id, user_id, user_name, topic_id, topic_name, title, content, scan_count, answer_count, gmt_create, gmt_modified
		from question
		where gmt_modified > #{time} and
		topic_id in (
			select topic_id from user_concern_topic where user_id=#{id}
		)
		limit #{count}
	</select>
	
	<select id="listNextQuestionByGmtModifiedAndId" resultType="Question">
		select id, user_id, user_name, topic_id, topic_name, title, content, scan_count, answer_count, gmt_create, gmt_modified
		from question
		where gmt_modified &lt;= #{time} and
		topic_id in (
			select topic_id from user_concern_topic where user_id=#{id}
		)
		order by gmt_modified desc
		limit #{count}
	</select>
		
</mapper>
