<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hellyuestc.caiyuan.dao.UserDao"> 
	
	<select id="getUserByPhone" resultType="cn.hellyuestc.caiyuan.entity.User">
		select id, name, password, avatar_path, gender, birthday, phone, email, address, job, introduction, is_expert 
		from user
		where name=#{phone} and password=#{password}
	</select>
	
	<select id="getUserByEmail" resultType="cn.hellyuestc.caiyuan.entity.User">
		select id, name, password, avatar_path, gender, birthday, phone, email, address, job, introduction, is_expert 
		from user
		where name=#{email} and password=#{password}
	</select>
	
	<select id="getUserByName" resultType="cn.hellyuestc.caiyuan.entity.User">
		select id, name, password, avatar_path, gender, birthday, phone, email, address, job, introduction, is_expert 
		from user
		where name=#{name} and password=#{password}
	</select>
	
</mapper>
