<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hellyuestc.caiyuan.dao.UserDao"> 

	<select id="selectEmailCount" resultType="int">
		select count(*) from user where email = #{email}
	</select>



	<select id="getUserByPhone" resultType="User">
		select id, name, avatar_path, gender, birthday, phone, email, address, job, introduction, is_expert 
		from user
		where name=#{phone} and password=#{password}
	</select>
	
	<select id="getUserByEmail" resultType="User">
		select id, name, avatar_path, gender, birthday, phone, email, address, job, introduction, is_expert 
		from user
		where name=#{email} and password=#{password}
	</select>
	
	<select id="getUserByName" resultType="User">
		select id, name, avatar_path, gender, birthday, phone, email, address, job, introduction, is_expert 
		from user
		where name=#{name} and password=#{password}
	</select>
	
	<select id="getNameByName" resultType="String">
		select name from user where name=#{name}
	</select>
	
	<update id="updateUser">
		update user
		set
		name = #{name},
		gender = #{gender},
		birthday = #{birthday},
		phone = #{phone},
		email = #{email},
		address = #{address},
		job = #{job},
		introduction = #{introduction},
		gmt_modified = #{gmt_modified}
		where id = #{id}
	</update>
	
</mapper>
